<!DOCTYPE html>
<!--
    Term v0.1. No input.
    Down_door_template. 2019
    Mario Rubio. 2019.
-->
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="author" content="Mario Rubio. mrrb.eu">
    <link href="/assets/wip/fontawesome/css/all.css" rel="stylesheet">
    <link href="/assets/wip/wip.css" rel="stylesheet">
    <!--<link rel="icon" type="image/png" href="">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="noselect">
    <a href="" class="text-header center"><p>{{header}}ss</p></a>
    <div class="main-frame center">
      <div class="glitch">
        <p class="term-msg">Estamos realizando mejoras.</p>
        <p class="term-msg">Vuelva pronto.</p>
        <p class="term-msg"><span class="cursor">▮</span></p>
      </div>
    </div>
    <!-- <div class="social center">
      <a class="socialItem" href="https://www.instagram.com/?"><i class="fab fa-instagram fa-4x"></i></a>
      <a class="socialItem" href="https://www.facebook.com/?"><i class="fab fa-facebook fa-4x"></i></a>
      <a class="socialItem" href="https://linkedin.com/in/?"><i class="fab fa-linkedin-in fa-4x"></i></a>
      <a class="socialItem" href="mailto:?@?.?"><i class="far fa-envelope fa-4x"></i></a>
      <a class="socialItem" href="https://twitter.com/?"><i class="fab fa-twitter fa-4x"></i></a>
    </div>   -->
  </body>
</html>